version: '3'

services:
  mariadb:
    image: mariadb:10.11
    environment: 
      - MYSQL_ROOT_PASSWORD=password
    networks:
      - abuse
    ports:
      - "9306:3306"

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=
    networks:
      - abuse
    ports:
      - "8123:8123"
      - "9000:9000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123/ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  tests:
    build:
      context: .
      dockerfile: ./Dockerfile
    networks:
      - abuse
    depends_on:
      mariadb:
        condition: service_started
      clickhouse:
        condition: service_healthy
    volumes:
      - ./phpunit.xml:/code/phpunit.xml
      - ./src:/code/src
      - ./tests:/code/tests

networks:
  abuse: